* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 5vh;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    background: lightcoral;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 5vh;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    text-align: center;
}

footer {
    height: 8vh;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 6vh;
}