@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300&display=swap');

.container-fluid {
    height: 100vh;
}

.col {
    height: 100%;
}

.row {
    font-family: 'Roboto', sans-serif;
}

.flex-grow-1 {
    background-color: #121212;
    color: rgba(255, 255, 255, .87);
}

.flex-grow-1 a {
    text-decoration: none;
    color: rgba(255, 255, 255, .87);
}

.flex-grow-1 a:hover {
    color: rgba(255, 255, 255, .67);
}

.made-by a {
    text-decoration: none;
    color: rgba(255, 255, 255, .60);
}

.made-by a:hover {
    color: rgba(255, 255, 255, .40);
}