<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/graphs.css') }}">
</head>

<body>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Visualize COVID-19</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/graphs">Graphs</a></li>
        </ul>
    </nav>

    <div class="selection" align="center">
        <select id='countrySelect' onchange="changeDataset()">
            <option value="Worldwide" selected>Worldwide</option>
        </select>
    </div>

    <canvas id="myChart" height="100px" width="250px"></canvas>

    <footer>
        <a href="https://github.com/clavesi/coronavirus-map">Designed by clavesi</a>
    </footer>

    <script>
        let data = {{ coviddata | tojson }};

        let select = document.getElementById('countrySelect');
        for (country in data) {
            let option = document.createElement('option');
            option.text = country;
            select.add(option);
        }

        totalDays = data['Afghanistan'].length;
        days = [];
        cases = [];
        for (i = 0; i < totalDays; i++) {
            format = function (input) {
                pattern = /(\d{4})\-(\d{2})\-(\d{2})/;
                if (!input || !input.match(pattern)) {
                    return null;
                }
                return input.replace(pattern, '$2/$3/$1');
            };

            date = data['Afghanistan'][i]['date'];
            splitDate = date.split('-');
            if (splitDate[1].length == 1) {
                splitDate[1] = '0' + splitDate[1];
            }
            if (splitDate[2].length == 1) {
                splitDate[2] = '0' + splitDate[2];
            }

            zeroedDate = ''
            for (let i = 0; i < splitDate.length; i++) {
                const partOfYear = splitDate[i];
                if (i != 2) {
                    zeroedDate += splitDate[i] + '-';
                } else {
                    zeroedDate += splitDate[i];
                }
            }

            days.push(zeroedDate);

            // Get number of cases worldwide
            casesDaily = 0;
            for (c in data) {
                casesDaily += data[c][i]['confirmed'];
            }
            cases.push(casesDaily);
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = chartTemplate(cases);

        function changeDataset() {
            myChart.destroy();

            if (select.value !== 'Worldwide') {
                const countryCases = []
                for (i = 0; i < data[select.value].length; i++) {
                    countryCases.push(data[select.value][i]['confirmed']);
                }
                myChart = chartTemplate(countryCases);
            }
            else {
                myChart = chartTemplate(cases);
            }
        }

        function chartTemplate(data) {
            return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: days,
                    datasets: [{
                        data: data,
                        label: 'Cases',
                        borderColor: 'lightcoral',
                        fill: true
                    }]
                },
                options: {
                    elements: {
                        point: {
                            radius: 1
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'month'
                            },
                            min: '2020-01-22',
                            ticks: {
                                autoSkip: true,
                                minTicksLimit: 20,
                                maxTicksLimit: 20,
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        annotation: {
                            annotations: {
                                Alpha: {
                                    type: 'line',
                                    borderColor: 'black',
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        content: 'Alpha',
                                        position: 'top'
                                    },
                                    scaleID: 'x',
                                    value: '2020-09-01'
                                },
                                Beta: {
                                    type: 'line',
                                    borderColor: 'black',
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        content: 'Beta',
                                        position: 'top'
                                    },
                                    scaleID: 'x',
                                    value: '2020-05-01'
                                },
                                Gamma: {
                                    type: 'line',
                                    borderColor: 'black',
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        content: 'Gamma',
                                        position: 'center'
                                    },
                                    scaleID: 'x',
                                    value: '2020-11-01'
                                },
                                Delta: {
                                    type: 'line',
                                    borderColor: 'red',
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        content: 'Delta',
                                        position: 'top'
                                    },
                                    scaleID: 'x',
                                    value: '2020-10-01'
                                },
                                Omicron: {
                                    type: 'line',
                                    borderColor: 'red',
                                    borderWidth: 3,
                                    label: {
                                        enabled: true,
                                        content: 'Omicron',
                                        position: 'top'
                                    },
                                    scaleID: 'x',
                                    value: '2021-11-01'
                                }
                            }
                        }
                    }
                },
            });
        }
    </script>
</body>

</html>