<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Visualize COVID-19</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/graphs">Graphs</a></li>
        </ul>
    </nav>

    <footer>
        <a href="https://github.com/clavesi/coronavirus-map">Designed by clavesi</a>
    </footer>
</body>

</html>